
* 
{
    font-family: "Envy Code R", "Droid Sans Mono", "Andale Mono", consolas, monospace;
}

body 
{ 
    background-color: #dad0da; 
    color: #000000 
    font-size: 100%
}

.homeaction
{
    margin : 5px;
    padding: 5px;
    background-color: #c9c9c0;
    color: #000000;
    font-size: 120%
}

.homeaction a
{
    color: #031030
}